body {
  padding-top: 60px;
  background-color: white;
}
.pointer {
  cursor: pointer;
}
.ui.fixed.top.menu {
  background-color: black;
}
.ui.fixed.top.menu .item {
  color: #FFFFFF;
}
.ui.fixed.top.menu .ui.popup .item {
  color: #000000;
}
.ui.fixed.top.menu #toggle {
  display: none;
}
@media (max-width: 768px) {
  .ui.fixed.top.menu .menu.right {
    display: none;
  }
  .ui.fixed.top.menu #toggle {
    display: block;
  }
}
.ui.sidebar.vertical.menu {
  padding-top: 70px;
}
.ui.sidebar.vertical.menu .item,
.ui.sidebar.vertical.menu .title {
  color: #FFFFFF;
  font-size: 14px;
}
.ui.sidebar.vertical.menu .title {
  padding: 0px 0px;
}
.ui.white.header {
  color: white !important;
}
.section {
  padding: 30px 10px;
}
.section.one {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/rings.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
@media (max-width: 768px) {
.section.one {
    height:100vh;
  }
}
.section.one .grid {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
.section.one .grid .header.title {
  font-size: 50px;
}
.section.one .grid .header.sub {
  font-size: 15px;
}
.section.one .grid .header.sub .upper {
  margin-top: 40px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.section.two {
  background-color: #FFFFFF;
  min-height: 450px;
}
.section.two .grid:not(.animated) {
  visibility: hidden;
}
.section.three {
  background-color: #FFFFFF;
  min-height: 470px;
}
.section.four {
  background-color: black;
}
.section.five {
  background-color: #FFFFFF;
  min-height: 470px;
}
.section.six {
  background-color: black;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.seven {
  background-color:#DDDDDD;
}
.ui.fluid.button {
  background-color: white;
  color:black;
}
.ui.fluid.button:hover {
  background-color:#DDDDDD;
}
.item:hover {
  background-color:#2e2e2e !important;
}
.ui.secondary.vertical.menu .item:hover {
  background-color:#DDDDDD !important;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  text-align:center;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection-display {
  display: none;
}
#collection-header {
  text-align: center;
  font-size:2rem;
}
.ui.stackable.card .image, .ui.fluid.card .image {
  background:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:80% !important;
}
#collection-display {
  margin:4rem;
}
.ui.fluid.card {
  height:30rem;
}
.ui.stackable.card  {
  height:17rem;
  box-shadow:none;
  border:1px solid LightGray;
}
.ui.stackable.card .content {
  background-color:#fafafa;
}
